<!-- <% if @task.nil? %>
<%else%> -->
  <h2><%= @task.name %></h2>
  <!-- # string concatination requires a string for the date, it needs to be displayed as a string at some point-->
  <p><%= "completion_date: " + @task.completion_date.strftime("%Y-%m-%d") %></p>
  <p><%= "description: " + @task.description %></p>
<!-- <%end%> -->
